<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.DAO.RouteDAO">
	 
	 <resultMap type="com.demo.model.Route" id="RouteResult">

		<result column="userId" property="userId"/>
		<result column="aircraftId" property="userAircraftId"/>
		<result column="fromAirport" property="fromAirport"/>
		<result column="departureTime" property="departureTime"/>
		<result column="toAirport" property="toAirport"/>
		<result column="arrivalTime" property="arrivalTime"/>
		<result column="sequence" property="sequence"/>
		<result column="departureDay" property="departureDay"/>
		<result column="arrivalDay" property="arrivalDay"/>
		
		
	 </resultMap>
	 
      <select id="getRoutes"  resultMap="RouteResult">
       select * from route where userId = #{userId} and aircraftId = #{aircraftId} order by sequence
      </select>
      <insert id="addRoute">
      insert into route(userId, aircraftId, fromAirport, departureTime,departureDay, toAirport, arrivalTime,arrivalDay, sequence) values (#{userId},#{aircraftId},#{fromAirport},#{departureTime},#{departureDay},#{toAirport},#{arrivalTime},#{arrivalDay},#{sequence})
      </insert>
       <select id="getAllRoutes"  resultMap="RouteResult">
       select * from route order by aircraftId,sequence
      </select>
      
      <delete id = "deleteUserRouteByAircraftId">
      	delete from route where userId = #{userId} and aircraftId = #{aircraftId}
      </delete>
	
		<delete id = "deleteUserRoute">
      	delete from route where userId = #{userId}
      </delete>
</mapper>