<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.DAO.AircraftDAO">
	 
	 <resultMap type="com.demo.model.Aircraft" id="AircraftResult">
		<result property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="name" property="name"/>
		<result column="cost" property="cost"/>
		<result column="maxSeat" property="maxSeat"/>
		<result column="rangeVal" property="range"/>
		<result column="speed" property="speed"/>
		<result column="fuelCapacity" property="fuelCapacity"/>
		<result column="fuelBurn" property="fuelBurn"/>
		<result column="takeOffDis" property="takingOffDis"/>
		<result column="landingDis" property="landingDis"/>
		
	 </resultMap>
	 
	 	<resultMap type="com.demo.model.Aircraft" id="UserAircraftResult">
		<result property="id" column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="name" property="name"/>
		<result column="cost" property="cost"/>
		<result column="maxSeat" property="maxSeat"/>
		<result column="rangeVal" property="range"/>
		<result column="speed" property="speed"/>
		<result column="fuelCapacity" property="fuelCapacity"/>
		<result column="fuelBurn" property="fuelBurn"/>
		<result column="takeOffDis" property="takingOffDis"/>
		<result column="landingDis" property="landingDis"/>
		<result column="customizedName" property="customizedName"/>
		<result column="firstClassRatio" property="firstClassRatio"/>
		<result column="businessClassRatio" property="businessClassRatio"/>
		
	 </resultMap>
	 
      <select id="getPlane"  resultMap="AircraftResult">
       select * from aircraft
      </select>
      
      <select id="getPlaneByUserPlaneId"  resultMap="AircraftResult">
       select * from aircraft where id = (select aircraftId from user_aircraft where id = #{userPlaneId})
      </select>
      
      <select id="getPlaneByName"  resultMap="AircraftResult">
       select * from aircraft where name = #{name}
      </select>
      
       <select id="getPlaneUniqueId"  resultType="int">
       select id from user_aircraft where userId = #{userId} and customizedName = #{name}
      </select>
      
       <insert id="buyPlane"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
         insert into user_aircraft(userId,aircraftId,customizedName,firstClassRatio,businessClassRatio) values (#{userId},#{aircraftId},#{customizedName},#{firstClassRatio},#{businessClassRatio})
         <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
      </insert>
      
      <select id="getUserPlanes"  resultMap="UserAircraftResult">
       select a.*,b.* from aircraft a join user_aircraft b on a.id = b.aircraftId where b.userId = #{userId}
      </select>
      
      <select id="getDownPlanes"  resultType="string">
       select * from down_aircraft
      </select>
      <delete id="cleanDownPlanes" >
       delete from down_aircraft
      </delete>
       <insert id="downPlane" >
         insert into down_aircraft(name) values (#{name})
      </insert>

</mapper>