<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"		
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"	
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd			
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd			
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd			
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
       
	
	<!-- spring  Mybatis integration -->
	<!-- datasource configuration -->  
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
	    destroy-method="close">  
	    <property name="driverClassName" value="${driverClassName}"></property>  
	    <property name="url" value="${url}"></property>  
	    <property name="username" value="${username}"></property>  
	    <property name="password" value="${password}"></property>
	    <property name="maxActive" value = "${maxActive}"></property>
	    <property name="maxIdle" value = "${maxIdle}"></property> 
        <property name="maxWait" value = "${maxWait}"></property> 
	</bean>  
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	   <property name="dataSource" ref="dataSource" /> 
	    <property name="mapperLocations"  value="classpath:com/demo/mybatis/mappers/*Mapper.xml" />  
	    <property name="typeAliasesPackage" value="com.demo.model" />  
	</bean> 
	

	
	<bean id="sqlSession"  class="org.mybatis.spring.SqlSessionTemplate"> 
       <constructor-arg index="0" ref="sqlSessionFactory" /> 
    </bean>
	
	
	<!-- spring transaction manager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource" ref="dataSource" /> 
    </bean>
    
<tx:advice id="TestAdvice" transaction-manager="transactionManager">

    <tx:attributes>

      <tx:method name="save*" propagation="REQUIRED"/>

      <tx:method name="del*" propagation="REQUIRED"/>

      <tx:method name="update*" propagation="REQUIRED"/>

      <tx:method name="add*" propagation="REQUIRED"/>

      <tx:method name="find*" propagation="REQUIRED"/>

      <tx:method name="get*" propagation="REQUIRED"/>

      <tx:method name="apply*" propagation="REQUIRED"/>

    </tx:attributes>

</tx:advice>



    
	<bean id="userDAO" class="com.demo.action.UserDAOImpl" > 
         <!--injection of SqlSessionTemplate instance -->
		 <property name="sqlSessionTemplate" ref="sqlSession" /> 
	</bean> 
</beans>
